<div class="relative font-body bg-transparent z-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-white.svg" alt="">
        </a>
      </div>
      <nav class="hidden md:flex space-x-10">
        <div class="flex items-center border border-red-700 h-20 w-full rounded-full">
          <input type="text">
          <input type="text">
          <input type="text">
        </div>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="#" class="whitespace-nowrap text-base font-light text-white hover:text-gray-200">
          Connexion
        </a>
        <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-rose-600 hover:bg-rose-700">
          Inscription
        </a>
      </div>
    </div>
  </div>
</div>
