<div id="hero-section">
  <%= image_tag('hero_image', class: 'object-cover w-screen h-screen absolute top-0') %>

</div>


<!-- <div class="absolute flex flex-col items-center justify-center mx-16">
    <div class="flex items-center rounded-full bg-white h-20 w-3/5 mt-20">
      <div class="flex flex-row justify-around">
        <input type="text" class="h-12 rounded-tl rounded-bl w-80 border-none focus:border-none ml-16">
      </div>
    </div>
    <div class="flex items-end h-96">
      <h1 class="text-white font-title text-8xl font-bold">Réservez votre prochain voyage à <span id="headline-typed-text">Bali</span></h1>
    </div>
  </div> -->
