@import "tailwindcss/base";
@import "tailwindcss/components";

/*! purgecss start ignore */

.content{
  height: calc(100vh - 6rem);
}

#search_address {
  outline: none !important;
  border-color: transparent !important;
  border-width: 0 !important;
}

/*! purgecss end ignore */

@import "tailwindcss/utilities";
@import "flatpickr/dist/flatpickr";

