<div class="max-w-7xl mx-auto">
  <div class="header">
    <h1 class="font-bold text-5xl font-title mt-12">Appartment Show</h1>
    <%= cl_image_tag @appartment.photo.key, class: "w-full h-96 object-cover rounded-lg mt-12"%>
  </div>
  <div class="body">


  </div>
    <p>This appartment is located in <%= @appartment.address %> rent at <%= @appartment.price %> € per night </p>
</div>


