<h1 class="text-3xl font-bold font-title p-4">Your appartments:</h1>
<div class="grid grid-cols-3 gap-4 p-4">
  <% @appartments.each_with_index do |appartment, index| %>
    <%= link_to appartment_path(appartment) do %>
      <div class="shadow rounded-md overflow-hidden">
        <div class="card-header">
          <%= cl_image_tag appartment.photo.key, class: "w-full h-96 object-cover rounded-t-lg"%>
        </div>
        <div class="card-body p-4">
          <h2>Logement n°<%= index + 1 %> </h2>
          <p> <%= appartment.address %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
